@mixin flexbox-row{
    display: flex;
    flex-direction: row;
}

@mixin flexbox-col{
    display: flex;
    flex-direction: column;
}

@mixin flexbox-centered{
    justify-content: center;
    align-items: center;
}