.meta__box {
    @include flexbox-col(flex-start,center);

    &__title {
        @include flexbox-row;
        font-size: 1.5rem;
        padding: 0.5rem;
        font-family: fantasy;
    }

    &__content {
        @include flexbox-row;
        font-size: 1.5rem;
        padding: 0.5rem;
        text-align: center;

        a:hover {
            text-decoration: underline;
            color: inherit;
        }
    }
}
