.modal {
    @include flexbox-row;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(7, 7, 7, 0.8);
    z-index: 99;

    &__window{
        text-align: start;
        min-height: 60vh;
        width: 80vw;
        background-color: #fff;
        margin: auto;
        color: #555;
        max-height: 98vh;
    
        @include flexbox-col;
    }
}

.close {
    display: none !important;
}