.modal{
    &__footer {
        @include flexbox-row;
    }
    
    &__footer__button {
        @include flexbox-row;
        @include flexbox-centered;
        flex-wrap: nowrap;

        flex: 1;
        font-size: 2rem;
        padding: 1.5rem;
        cursor: pointer;
    }
}