.rater {
    @include flexbox-col;
    align-items: center;

    background-color: rgba(99, 110, 114, 0.8);
    padding: 1rem;

    h3 {
        color: #fff;
        font-size: 3rem;
        margin-right: 1rem;
        margin: 0;
    }
    span {
        font-size: 3rem;
        white-space: nowrap;
    }
}
